{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %} Locations{% endblock %}</h1>

 <a   style="color : rgba(47, 0, 90, 0.849)" style="display: flex; align-items: flex-end; font-size:20px" class="action" href="{{ url_for('addLocation') }}">Add New Location </a>

{% endblock %}
{% block content %}

<table class="table table-hover">
 <thead>
   <tr>
     <th scope="col">#</th>
     <th scope="col">Location Name</th>
	 <th scope="col"></th>
    </tr>

 </thead>
 <tbody>


    {% for location in locations %}

          <tr>
			<td>{{ location[0] }}</td>
			<td>{{ location[1] }}</td>
			<td> <a   style="color : rgba(47, 0, 90, 0.849)" class="action" href="{{ url_for('updateLocation', id=location[0]) }}">Edit</a></td>
		 </tr>

    {% endfor %}

 </tbody>
</table>
{% endblock %}
