{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Edit Product {% endblock %}</h1>
{% endblock %}
{% block content %}
  <form class="text-center border border-light p-5" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control mb-4" placeholder="Name"
      value="{{ request.form['name'] or product[1] }}" required>

    <select class="browser-default custom-select mb-4" name="locationId" id="locationId" >
      {% for location in locations %}
   <option value="{{location[0]}}">{{location[1]}}</option>
 {% endfor %}
</select>

    <input style="background-color : rgba(47, 0, 90, 0.849)" class="btn btn-info btn-block" type="submit" value="Save">
  </form>

{% endblock %}